[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argumentparser = "*"
libtorrent = "*"
watchdog = "*"
coloredlogs = "*"
python-decouple = "*"
requests = "*"
Flask = "*"
python-dotenv = "*"
waitress = "*"
cachetools = "*"
Flask-Login = "*"
transmission-rpc = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
