[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argumentparser = "*"
libtorrent = "*"
watchdog = "*"
coloredlogs = "*"
python-decouple = "*"
requests = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3"
